doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="http://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
        block script
        head
            title #{pageTitle} | UinMobil
    body
        include partials/header
        block content


    block scripts
