extends base
block script
    script(type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=26b4506d2c4f778a27660d8b99da45cf")
block content 
    main
        h1 U in Mobil
        div.home-btns
            button.drive-btn 주행 시작
        br
        div 현위치 : 
            span.current-pos
        div
            div 위도 : 
                span.latitude
            div 경도 : 
                span.longitude
        div 현재 속력 : 
            span.current-speed
        div 최근 경로 : 
            span.recent-route
        div#map(style="width:600px; height:400px")

block scripts 
    script(src="/assets/js/home.js")