extends base
block content 
    main
        div
            h2 나의 운전 점수 :    
                span#my-score 78점
        br
        div
            h3 1600km당 전방 충돌 경고 횟수 : 
                span#num-alert-crash 12 회
        div
            h3 차량 급선회 횟수 : 
                span#num-sharp-turn 6 회
        div
            h3 브레이크 급제동 횟수 : 
                span#num-sharp-brake 3 회 
        div
            h3 안전 거리 미확보 횟수 : 
                span#num-non-secured 15 회
        div
            h3 오토파일럿 강제 이탈 횟수 : 
                span#num-depart-ap 8 회
        br
        
